body {
	font-family: 'Open Sans', sans-serif;
}

#container {
	display: grid;
	grid-template-columns: auto;
	margin-top: 25vh;
}

#header {
	display: flex;
	justify-content: center;
	font-size: 32px;
	padding: 15px;
}

#footer {
	display: flex;
	justify-content: center;
	font-size: 16px;
}

#app {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 50px;
	margin-right: 50px;
}

.puzzle {
	margin: 30px;
	font-size: 20px;
}

.puzzle label {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

.puzzle input {
	outline-style: solid;
	width: 100px;
}